/* src/components/UpcomingEvents.css */
.upcoming-events {
    margin: 20px 0;
    padding: 0 20px;
}

.upcoming-events h2 {
    color: #1E2022;
    font-family: 'Inter', sans-serif;
}

.upcoming-events .events-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.upcoming-events .event-card {
    border: 1px solid #B0BABF;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upcoming-events .event-card iframe {
    width: 100%;
    height: 150px;
}

.upcoming-events .event-card h3,
.upcoming-events .event-card p {
    margin: 5px 10px;
    font-family: 'Inter', sans-serif;
}

.loading-spinner {
    text-align: center;
    margin: 20px 0;
    font-family: 'Inter', sans-serif;
}

.iframe-container iframe {
    pointer-events: none;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 150px;
}

.iframe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent; 
}