.upcoming-events {
    padding: 20px;
}

.upcoming-events h2 {
    font-family: 'Inter', sans-serif;
    color: #1E2022;
    margin-bottom: 20px;
}

.upcoming-events .events-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.upcoming-events .event-card {
    border: 1px solid #B0BABF;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upcoming-events .event-image {
    width: 100%;
    height: 200px;
    border: none;
    transform: scale(1.15);
}

.upcoming-events .event-details {
    padding: 10px;
}

.upcoming-events .event-details .event-date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

.upcoming-events .event-details h3 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 0 0 5px;
    color: black;
}

.upcoming-events .event-location-weather {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    color: black;
}

.upcoming-events .event-location,
.upcoming-events .event-weather-distance {
    font-family: 'Inter', sans-serif;
}
