.App {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #1E2022;
}

.banner {
    position: relative;
    background-image: url('./banner.svg'); /* Update the path to the banner image */
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.banner-overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
    color: #989090;
}

.recommended-shows {
    margin-top: -50px;
}

.events-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
}

.event-card {
    background: #ffffff;
    border: 1px solid #B0BABF;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.event-card img {
    max-width: 100%;
    border-radius: 10px;
}

.upcoming-events {
    padding: 20px;
}

.loading-spinner {
    text-align: center;
}
